/* Search functionality styling */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.search-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    width: 300px;
    height: 40px;
    padding: 0 15px;
    border: 2px solid #fff;
    border-radius: 50px;
    outline: none;
}

.search-input::placeholder {
    color: #B3B3B3;
}

.search-button {
    font-weight: 600;
    padding: 8px 16px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #121212;
    background-color: #1ED760;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #1db954;
}

.card {
    padding: 16px;
    border-radius: 40%;
}

.card, .button {
    margin: 100px;
}

.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 10px;
    color: #B3B3B3;
    pointer-events: none;
}

.search-input {
    padding-left: 34px;
}
